@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 768;
  margin: auto;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 48px 50px;
  margin: 20px 0;
  position: relative;
}

.rating li,
.num-display {
  position: relative;
  background: #f4f4f4;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
}

.close {
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 30px;
}
